<?xml version='1.0' encoding='utf-8'?>
<widget id="com.twojanazwa.fobywatel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>fObywatel</name>
    <description>Wlasna aplikacja fObywatel</description>
    <author email="dev@example.com" href="http://example.com">Twoje Imie</author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
